# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environments
venv/
.env/

# Data folders (DO NOT push raw data)
data/raw/
data/processed/
data/features/

# Model artifacts
models/artifacts/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

